################################################################################
#                                                                              #
#                 _________    Zavy's   __        __                           #
#                /   _____/ ___________|__|______/  |_  ______                 #
#                \_____  \_/ ___\_  __ \  \____ \   __\/  ___/                 #
#                /        \  \___|  | \/  |  |_> >  |  \___ \                  #
#               /_______  /\___  >__|  |__|   __/|__| /____  >                 #
#                       \/     \/         |__|             \/                  #
#                                                                              #
################################################################################

# ignore configuration file
config.inc.php

# ignore project directory
/nbproject/

# Never ignore index.php files
!index.php